# Data wrangling Project 2
This file is used for exploring and refining the datasets.

Importing Libraries

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from datetime import datetime
from IPython.display import display
warnings.filterwarnings('ignore')

In [2]:
# # Changing data txt files to csv
# df = pd.read_csv('Datasets/Datasets_raw/df_final_demo.txt', delimiter='\t')  # or use ' ' for space
# # Save as CSV
# df.to_csv('Datasets/Datasets_raw/df_final_demo.csv', index=False)
# df = pd.read_csv('Datasets/Datasets_raw/df_final_demo.csv')  # assumes comma
# #df.to_csv('your_file.csv', index=False)

# # Experiment Clients 
# df = pd.read_csv('Datasets/Datasets_raw/df_final_experiment_clients.txt', delimiter='\t')  # or use ' ' for space
# # Save as CSV
# df.to_csv('Datasets/Datasets_raw/df_final_experiment_clients.csv', index=False)
# df = pd.read_csv('Datasets/Datasets_raw/df_final_experiment_clients.csv')

# #webdata_pt 1
# df = pd.read_csv('Datasets/Datasets_raw/df_final_web_data_pt_1.txt', delimiter='\t')  # or use ' ' for space
# # Save as CSV
# df.to_csv('Datasets/Datasets_raw/df_final_web_data_pt_1.csv', index=False)
# df = pd.read_csv('Datasets/Datasets_raw/df_final_web_data_pt_1.csv')

# #webdata_pt 2
# df = pd.read_csv('Datasets/Datasets_raw/df_final_web_data_pt_2.txt', delimiter='\t')  # or use ' ' for space
# # Save as CSV
# df.to_csv('Datasets/Datasets_raw/df_final_web_data_pt_2.csv', index=False)
# df = pd.read_csv('Datasets/Datasets_raw/df_final_web_data_pt_2.csv')

# Loading the datasets

In [3]:
# # Defining the file path 
# file_path_client = 'Datasets/Datasets_raw/df_final_demo.csv'
# file_path_ec = 'Datasets/Datasets_raw/df_final_experiment_clients.csv'
# file_path_fwd1 = 'Datasets/Datasets_raw/df_final_web_data_pt_1.csv'
# file_path_fwd2 = 'Datasets/Datasets_raw/df_final_web_data_pt_2.csv'

# # Loading the CSV files into DataFrames
# df_client = pd.read_csv(file_path_client, sep=',', engine='python')
# df_ec = pd.read_csv(file_path_ec, sep=',', engine='python')
# df_fwd1 = pd.read_csv(file_path_fwd1, sep=',', engine='python')
# df_fwd2 = pd.read_csv(file_path_fwd2, sep=',', engine='python')

Just with .txt files, without converting it to csv (works perfectly fine)

In [6]:
# Defining the file path 
file_path_client = 'Datasets/Datasets_raw/df_final_demo.txt'
file_path_ec = 'Datasets/Datasets_raw/df_final_experiment_clients.txt'
file_path_fwd1 = 'Datasets/Datasets_raw/df_final_web_data_pt_1.txt'
file_path_fwd2 = 'Datasets/Datasets_raw/df_final_web_data_pt_2.txt'

# Loading the CSV files into DataFrames
df_client = pd.read_csv(file_path_client)
df_ec = pd.read_csv(file_path_ec)
df_fwd1 = pd.read_csv(file_path_fwd1)
df_fwd2 = pd.read_csv(file_path_fwd2)

In [7]:
print(df_client.columns.tolist())
print(df_ec.columns.tolist())

['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth']
['client_id', 'Variation']

In [8]:
df_client

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [9]:
df_ec

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [10]:
df_fwd1

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [25]:
df_fwd2

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

Merging the webdata sets together

In [26]:
df_web = pd.concat([df_fwd1, df_fwd2], ignore_index=True)
df_web

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

### Review Experiment Data

Merging web datasets with experiment info dataset

In [27]:
df_web_ec = pd.merge(df_web, df_ec, on='client_id', how='right')

In [28]:
df_web_ec

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
449826,9895983,473024645_56027518531,498981662_93503779869_272484,step_3,2017-06-15 19:52:09,NaN
449827,9895983,473024645_56027518531,498981662_93503779869_272484,step_2,2017-06-15 19:50:37,NaN
449828,9895983,473024645_56027518531,498981662_93503779869_272484,step_1,2017-06-15 19:50:05,NaN
449829,9895983,473024645_56027518531,498981662_93503779869_272484,start,2017-06-15 19:50:00,NaN
449830,9895983,473024645_56027518531,498981662_93503779869_272484,start,2017-06-15 19:44:05,NaN

In [29]:
print("Total clients in experiment:", df_ec['client_id'].nunique())
print("Unique clients in merged web+experiment data:", df_web_ec['client_id'].nunique())

Total clients in experiment: 70609
Unique clients in merged web+experiment data: 70609

In [30]:
df_web_ec.isnull().sum()

client_id            0
visitor_id           0
visit_id             0
process_step         0
date_time            0
Variation       128522
dtype: int64

In [18]:
df_web_ec[df_web_ec['date_time'].isnull()].shape

(0, 6)

In [ ]:
# #Merging the dataframes
# def df_merge_and_clean_client(df_client=df_client, df_ec=df_ec):
#     ''' Merges client and experiment dataframes and adds balance quartiles ''' 
    
#     # Merging the dataframes on 'client_id' using outer join
#     df_merged_client = pd.merge(df_client, df_ec, on='client_id', how='outer')
    
#     # Keeping the rows with 5 or fewer missing values
#     df_client_cleaned = df_merged_client[df_merged_client.isnull().sum(axis=1) <= 5]
    
#     # Adding balance quartile column based on 'balance' column
#     df_client_cleaned['balance_quartile'] = pd.qcut(
#         df_client_cleaned['bal'], 
#         q=4, 
#         labels=['Q1', 'Q2', 'Q3', 'Q4']
#     )
    
#     return df_client_cleaned

Checking group sizes

In [31]:
df_web_ec['Variation'].value_counts(normalize=True)

Variation
Test       0.553508
Control    0.446492
Name: proportion, dtype: float64

Exploring the full funnel process steps

In [20]:
df_web_ec['process_step'].value_counts()

process_step
start      145588
step_1      95896
step_2      79571
step_3      68217
confirm     60559
Name: count, dtype: int64

In [21]:
step_counts = df_web_ec.groupby(['Variation', 'process_step']).size().unstack().fillna(0)
step_counts

process_step  confirm  start  step_1  step_2  step_3
Variation
Control         17505  47608   29668   25886   22795
Test            25722  56474   38768   30989   25894

Checking how many clients reached 'confirm'

In [23]:
df_confirm = df_web_ec[df_web_ec['process_step'] == 'confirm']
conversion_rates = df_confirm['Variation'].value_counts(normalize=True)
conversion_rates

Variation
Test       0.595045
Control    0.404955
Name: proportion, dtype: float64

In [24]:
# these are just raw counts 
df_confirm['Variation'].value_counts()

Variation
Test       25722
Control    17505
Name: count, dtype: int64

Completion rate per client

In [32]:
df_confirm_unique = df_confirm.drop_duplicates(subset=['client_id'])
df_confirm_unique['Variation'].value_counts(normalize=True)

Variation
Test       0.547669
Control    0.452331
Name: proportion, dtype: float64

In [33]:
df_web_ec.to_csv('Datasets/Datasets_clean/df_web_ec.csv', index=False)

AttributeError: 'function' object has no attribute 'head'

### Plots

In [ ]:
def plot_funnel_analysis(df_web_ec):
    '''
    Plots funnel charts and drop-off percentages for Control vs Test groups.
    '''
    # Step 1: Counting process steps per group
    step_counts = df_web_ec.groupby(['Variation', 'process_step']).size().unstack().fillna(0)

    # Step 2: Plot funnel steps
    step_counts.T.plot(kind='bar', figsize=(10, 6))
    plt.title("Number of Clients at Each Process Step")
    plt.xlabel("Process Step")
    plt.ylabel("Number of Clients")
    plt.xticks(rotation=0)
    plt.legend(title="Group")
    plt.tight_layout()
    plt.show()

    # Step 3: Calculate drop-off percentages
    dropoff = step_counts.copy()
    steps = step_counts.columns.tolist()
    for i in range(1, len(steps)):
        prev_col = steps[i - 1]
        curr_col = steps[i]
        dropoff[curr_col] = 1 - (step_counts[curr_col] / step_counts[prev_col])

    # Step 4: Plot drop-off %
    (dropoff.drop(columns=[steps[0]]).T * 100).plot(kind='bar', figsize=(10, 6))
    plt.title("Drop-off Percentage Between Steps")
    plt.xlabel("Process Step")
    plt.ylabel("Drop-off (%)")
    plt.xticks(rotation=0)
    plt.legend(title="Group")
    plt.tight_layout()
    plt.show()

In [ ]:
plot_funnel_analysis(df_web_ec)

In [ ]:
#Concatenating the dataframes 
def df_fwd_all(df_fwd1 = df_fwd1, df_fwd2 = df_fwd2, df_ec = df_ec):
    '''Combines web data from part 1 and 2, merges it with experiment data,
    parses and sorts date/time, and drops web data without Control/Test distinction.
    ''' 
    # Step 1: Combining both web datasets together. 
    df_fwd = pd.concat([df_fwd1, df_fwd2], axis=0, ignore_index=True)
    # Step 2: Merging it with experiment/control info (right join keeps only experimental clients)
    df_fwd_ec = pd.merge(df_fwd, df_ec, on='client_id', how='right')
    # Step 3: Converting date_time to datetime object
    df_fwd_ec['date_time'] = pd.to_datetime(df_fwd_ec['date_time'])
    # Step 4: Sorting by client, visit and time.
    df_fwd_ec = df_fwd_ec.sort_values(by=['client_id', 'visit_id', 'date_time'])
    # Step 5: Dropping rows where variation is missing.
    df_fwd_ec = df_fwd_ec.dropna(subset=['Variation'])
    return (df_fwd_ec)

In [ ]:
df_web_cleaned = df_fwd_all()
df_web_cleaned

In [ ]:
print(df_web_cleaned.shape) # number of rows and columns
print(df_web_cleaned.head()) # first 5 rows
print(df_web_cleaned.isnull().sum()) # number of missing values in each column

In [ ]:
#saving the cleaned web data 
# df_web_cleaned.to_csv('Datasets/Datasets_clean/df_clean_web.csv', index=False)

In [ ]:
print(df_web_cleaned.columns.tolist())

In [ ]:
# Checking for duplicates
duplicates = df_web_cleaned[df_web_cleaned.duplicated()]
print("Total duplicated rows:", len(duplicates))

In [ ]:
# new_df = df.copy()
# new_df

In [ ]:
new_df = df.copy()

In [ ]:
df.duplicated().sum()

In [ ]:
def remove_duplicates(df):
    '''REMOVING DUPLICATES, 'start' and 'confirm' steps, only keeping the last each visit'''

    new_df = df.copy()

    df_not_started = new_df[new_df['process_step'] != 'start']
    filter_start = new_df[new_df['process_step'] == 'start'].drop_duplicates(subset=['vist_id'], keep='last')
    new_df = pd.concat([df_not_started, filter_start])
    new_df = new_df.sort_values(by=['client_id', 'visit_id', 'date_time'])

    not_confirm_df = new_df[new_df['process_step'] != 'confirm']
    filter_confirm = new_df[new_df['process_step'] == 'confirm'].drop_duplicates(subset=['visit_id'], keep='last')

    new_df = pd.concat([not_confirm_df, filter_confirm])
    new_df = new_df.sort_values(by=['client_id', 'visit_id', 'date_time'])
    return(new_df)

In [ ]:
new_df

In [ ]:
duplicates2 = new_df[new_df.duplicated()]
print("Total duplicated rows:", len(duplicates))

# Exploring the datasets

Checking df_demo dataset

In [ ]:
df_demo.info()
df_demo.head()

Checking df_ec dataset

In [ ]:
df_ec.info()
df_ec.head()

Checking df_fwd1 dataset

In [ ]:
df_fwd1.info()
df_fwd1.head()

Checking df_fwd2 dataset

In [ ]:
df_fwd2.info()
df_fwd2.head()

In [ ]:
# For each DataFrame
for name, df in [('df_demo', df_demo), ('df_ec', df_ec), ('df_fwd1', df_fwd1), ('df_fwd2', df_fwd2)]:
    print(f"\n===== {name} =====")
    print("\nShape:", df.shape)
    print("\nColumns and Data Types:\n", df.dtypes)
    print("\nMissing Values:\n", df.isnull().sum())
    print("\nPreview:\n", df.head(3))

In [ ]:
df_ec = pd.read_csv(file_path_ec, sep=",", engine="python")

In [ ]:
# with open(file_path_ec, 'r') as f:
#     for _ in range(5):
#         print(f.readline())

In [ ]:
df_ec.head()
df_ec.columns
df_ec.info()