# Data wrangling Project 2
This file is used for exploring and refining the datasets.

Importing Libraries

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from datetime import datetime
from IPython.display import display
warnings.filterwarnings('ignore')

In [12]:
# Changing data txt files to csv
df = pd.read_csv('Datasets/Datasets_raw/df_final_demo.txt', delimiter='\t')  # or use ' ' for space
# Save as CSV
df.to_csv('Datasets/Datasets_raw/df_final_demo.csv', index=False)
df = pd.read_csv('Datasets/Datasets_raw/df_final_demo.csv')  # assumes comma
#df.to_csv('your_file.csv', index=False)

# Experiment Clients 
df = pd.read_csv('Datasets/Datasets_raw/df_final_experiment_clients.txt', delimiter='\t')  # or use ' ' for space
# Save as CSV
df.to_csv('Datasets/Datasets_raw/df_final_experiment_clients.csv', index=False)
df = pd.read_csv('Datasets/Datasets_raw/df_final_experiment_clients.csv')

#webdata_pt 1
df = pd.read_csv('Datasets/Datasets_raw/df_final_web_data_pt_1.txt', delimiter='\t')  # or use ' ' for space
# Save as CSV
df.to_csv('Datasets/Datasets_raw/df_final_web_data_pt_1.csv', index=False)
df = pd.read_csv('Datasets/Datasets_raw/df_final_web_data_pt_1.csv')

#webdata_pt 2
df = pd.read_csv('Datasets/Datasets_raw/df_final_web_data_pt_2.txt', delimiter='\t')  # or use ' ' for space
# Save as CSV
df.to_csv('Datasets/Datasets_raw/df_final_web_data_pt_2.csv', index=False)
df = pd.read_csv('Datasets/Datasets_raw/df_final_web_data_pt_2.csv')

# Loading the datasets

In [14]:
# Defining the file path 
file_path_demo = 'Datasets/Datasets_raw/df_final_demo.csv'
file_path_ec = 'Datasets/Datasets_raw/df_final_experiment_clients.csv'
file_path_fwd1 = 'Datasets/Datasets_raw/df_final_web_data_pt_1.csv'
file_path_fwd2 = 'Datasets/Datasets_raw/df_final_web_data_pt_2.csv'

# Loading the CSV files into DataFrames
df_demo = pd.read_csv(file_path_demo)
df_ec = pd.read_csv(file_path_ec)
df_fwd1 = pd.read_csv(file_path_fwd1)
df_fwd2 = pd.read_csv(file_path_fwd2)

# Exploring the datasets

Checking df_demo dataset

In [19]:
df_demo.info()
df_demo.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 1 columns):
 #   Column                                                                                             Non-Null Count  Dtype
---  ------                                                                                             --------------  -----
 0   client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth  70609 non-null  object
dtypes: object(1)
memory usage: 551.8+ KB

  client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0         836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0
1       2304905,7.0,94.0,58.0,U,2.0,110860.3,6.0,9.0
2  1439522,5.0,64.0,32.0,U,2.0,52467.78999999999,...
3     1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4    5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

Checking df_ec dataset

In [20]:
df_ec.info()
df_ec.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 1 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   client_id,Variation  70609 non-null  object
dtypes: object(1)
memory usage: 551.8+ KB

  client_id,Variation
0        9988021,Test
1        8320017,Test
2     4033851,Control
3        1982004,Test
4     9294070,Control

Checking df_fwd1 dataset

In [21]:
df_fwd1.info()
df_fwd1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 1 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   client_id,visitor_id,visit_id,process_step,date_time  343141 non-null  object
dtypes: object(1)
memory usage: 2.6+ MB

  client_id,visitor_id,visit_id,process_step,date_time
0  9988021,580560515_7732621733,781255054_2193545...
1  9988021,580560515_7732621733,781255054_2193545...
2  9988021,580560515_7732621733,781255054_2193545...
3  9988021,580560515_7732621733,781255054_2193545...
4  9988021,580560515_7732621733,781255054_2193545...

Checking df_fwd2 dataset

In [22]:
df_fwd2.info()
df_fwd2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412264 entries, 0 to 412263
Data columns (total 1 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   client_id,visitor_id,visit_id,process_step,date_time  412264 non-null  object
dtypes: object(1)
memory usage: 3.1+ MB

  client_id,visitor_id,visit_id,process_step,date_time
0  763412,601952081_10457207388,397475557_4044094...
1  6019349,442094451_91531546617,154620534_353310...
2  6019349,442094451_91531546617,154620534_353310...
3  6019349,442094451_91531546617,154620534_353310...
4  6019349,442094451_91531546617,154620534_353310...

In [23]:
# For each DataFrame
for name, df in [('df_demo', df_demo), ('df_ec', df_ec), ('df_fwd1', df_fwd1), ('df_fwd2', df_fwd2)]:
    print(f"\n===== {name} =====")
    print("\nShape:", df.shape)
    print("\nColumns and Data Types:\n", df.dtypes)
    print("\nMissing Values:\n", df.isnull().sum())
    print("\nPreview:\n", df.head(3))

===== df_demo =====

Shape: (70609, 1)

Columns and Data Types:
 client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth    object
dtype: object

Missing Values:
 client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth    0
dtype: int64

Preview:
   client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0         836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0
1       2304905,7.0,94.0,58.0,U,2.0,110860.3,6.0,9.0
2  1439522,5.0,64.0,32.0,U,2.0,52467.78999999999,...

===== df_ec =====

Shape: (70609, 1)

Columns and Data Types:
 client_id,Variation    object
dtype: object

Missing Values:
 client_id,Variation    0
dtype: int64

Preview:
   client_id,Variation
0        9988021,Test
1        8320017,Test
2     4033851,Control

===== df_fwd1 =====

Shape: (343141, 1)

Columns and Data Types:
 client_id,visitor_id,visit_id,process_step,date_time    object
dtype: object

Missing Values:
 client_id,visitor_id,visit_id,process_step,date_time    0
dtype: int64

Preview:
   client_id,visitor_id,visit_id,process_step,date_time
0  9988021,580560515_7732621733,781255054_2193545...
1  9988021,580560515_7732621733,781255054_2193545...
2  9988021,580560515_7732621733,781255054_2193545...

===== df_fwd2 =====

Shape: (412264, 1)

Columns and Data Types:
 client_id,visitor_id,visit_id,process_step,date_time    object
dtype: object

Missing Values:
 client_id,visitor_id,visit_id,process_step,date_time    0
dtype: int64

Preview:
   client_id,visitor_id,visit_id,process_step,date_time
0  763412,601952081_10457207388,397475557_4044094...
1  6019349,442094451_91531546617,154620534_353310...
2  6019349,442094451_91531546617,154620534_353310...

In [ ]:
df_ec = pd.read_csv(file_path_ec, sep=",", engine="python")

In [ ]:
# with open(file_path_ec, 'r') as f:
#     for _ in range(5):
#         print(f.readline())

"client_id,Variation"

"9988021,Test"

"8320017,Test"

"4033851,Control"

"1982004,Test"

In [ ]:
df_ec.head()
df_ec.columns
df_ec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 1 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   client_id,Variation  70609 non-null  object
dtypes: object(1)
memory usage: 551.8+ KB