In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Loading Relavant Datasets

In [2]:
# Client Profiles (df_final_demo): Demographics like age, gender, and account details of our clients.
df_client = pd.read_csv('C:/Users/luson/IH_QUESTS/Project2/Datasets/Datasets_raw/df_final_demo.txt')

# Experiment Client (df_final_experiment_clients): A list revealing which clients were part of the grand experiment.
df_ec = pd.read_csv('C:/Users/luson/IH_QUESTS/Project2/Datasets/Datasets_raw/df_final_experiment_clients.txt')

# Digital Footprints (df_final_web_data): A detailed trace of client interactions online, divided into two parts:
df_fwd1 = pd.read_csv('C:/Users/luson/IH_QUESTS/Project2/Datasets/Datasets_raw/df_final_web_data_pt_1.txt')
df_fwd2 = pd.read_csv('C:/Users/luson/IH_QUESTS/Project2/Datasets/Datasets_raw/df_final_web_data_pt_2.txt')

Data Combining

In [3]:
# Merging the two parts of the digital footprints into a single DataFrame.
df_web = pd.concat([df_fwd1, df_fwd2], ignore_index=True)
# df_web

Standardize Column Names

In [ ]:
# Only found in df_ec where 'Variation' is not all lowercase. 
# The other dataframe columns are already lowercase, and easy to understand.
df_ec.columns = df_ec.columns.str.lower()

Checking Null Vaules in dataframes

In [ ]:
# df_client has very few missing values, and the columns with missing values are not so important for our analysis. So we can keep the nulls.
df_client.isnull().sum()

client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [26]:
# in df_ec there are 20,109 missing values in the column 'variation'.
# This column shows whether the client was part of the experiment or not, and which group (control or test) So we can drop the null values.
df_ec.dropna(inplace=True)
df_ec.isnull().sum()

client_id    0
variation    0
dtype: int64

In [27]:
# in df_web there are no null values.
df_web.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

Demographics

In [28]:
#Are the primary clients younger or older, new or long-standing?

In [29]:
# Who are the primary clients using this online process?
# Join the df_client and df_ec dataframes on the 'client_id' column to get a comprehensive view of the clients involved in the experiment.
df_client_experiment = df_ec.merge(df_client, on='client_id', how='left')

In [30]:
df_client_experiment.head()

,client_id,variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
1,8320017,Test,22.0,274.0,34.5,M,2.0,36001.90,5.0,8.0
2,4033851,Control,12.0,149.0,63.5,M,2.0,142642.26,5.0,8.0
3,1982004,Test,6.0,80.0,44.5,U,2.0,30231.76,1.0,4.0
4,9294070,Control,5.0,70.0,29.0,U,2.0,34254.54,0.0,3.0

Basic demographics of the clients in the experiment.

In [ ]:
# spilit bewteen the control and test groups.
variation_counts=df_client_experiment['variation'].value_counts()

variation
Test       26968
Control    23532
Name: count, dtype: int64