In [25]:
import numpy as np
import pandas as pd

file_path = r"C:\Users\npdan\IH_LABS/Project2/Datasets/Datasets_raw/df_final_web_data_pt_1.csv"
df = pd.read_csv(file_path)
df

#results : 343141 rows × 1 columns

       client_id,visitor_id,visit_id,process_step,date_time
0       9988021,580560515_7732621733,781255054_2193545...
1       9988021,580560515_7732621733,781255054_2193545...
2       9988021,580560515_7732621733,781255054_2193545...
3       9988021,580560515_7732621733,781255054_2193545...
4       9988021,580560515_7732621733,781255054_2193545...
...                                                   ...
343136  2443347,465784886_73090545671,136329900_105296...
343137  2443347,465784886_73090545671,136329900_105296...
343138  2443347,465784886_73090545671,136329900_105296...
343139  2443347,465784886_73090545671,136329900_105296...
343140  2443347,465784886_73090545671,136329900_105296...

[343141 rows x 1 columns]

In [29]:
print(df.head())
print(df.shape)

  client_id,visitor_id,visit_id,process_step,date_time
0  9988021,580560515_7732621733,781255054_2193545...
1  9988021,580560515_7732621733,781255054_2193545...
2  9988021,580560515_7732621733,781255054_2193545...
3  9988021,580560515_7732621733,781255054_2193545...
4  9988021,580560515_7732621733,781255054_2193545...
(343141, 1)

In [33]:
# Make sure we're working with the first column
df_split = df.iloc[:, 0].str.split(',', expand=True)
df_split.columns = ['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time']

In [35]:
print(df_split.head())
print(df_split.shape)  # Should be (343141, 5)

  client_id            visitor_id                      visit_id process_step  \
0   9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1   9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2   9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3   9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4   9988021  580560515_7732621733  781255054_21935453173_531117       step_3

             date_time
0  2017-04-17 15:27:07
1  2017-04-17 15:26:51
2  2017-04-17 15:19:22
3  2017-04-17 15:19:13
4  2017-04-17 15:18:04
(343141, 5)

In [37]:
print(df.columns)
print(df.shape)

Index(['client_id,visitor_id,visit_id,process_step,date_time'], dtype='object')
(343141, 1)

In [39]:
df = df_split
print(df.columns)
print(df.shape)

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')
(343141, 5)

In [122]:
#Save the cleaned file in csv :
df.to_csv('df_final_web_data_pt_1_cleaned.csv', index=False)

In [124]:
#Check if the cleaning is effective
df.shape

(343141, 5)

In [128]:
import numpy as np
import pandas as pd

file_path2 = r"C:\Users\npdan\IH_LABS/Project2/Datasets/Datasets_raw/df_final_web_data_pt_2.csv"
df2 = pd.read_csv(file_path2)
df2

       client_id,visitor_id,visit_id,process_step,date_time
0       763412,601952081_10457207388,397475557_4044094...
1       6019349,442094451_91531546617,154620534_353310...
2       6019349,442094451_91531546617,154620534_353310...
3       6019349,442094451_91531546617,154620534_353310...
4       6019349,442094451_91531546617,154620534_353310...
...                                                   ...
412259  9668240,388766751_9038881013,922267647_3096648...
412260  9668240,388766751_9038881013,922267647_3096648...
412261  9668240,388766751_9038881013,922267647_3096648...
412262  9668240,388766751_9038881013,922267647_3096648...
412263  674799,947159805_81558194550,86152093_47511127...

[412264 rows x 1 columns]

In [130]:
df2 = df2.iloc[:, 0].str.split(',', expand=True)
df2.columns = ['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time']

In [132]:
print(df2.columns)
print(df2.shape)

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')
(412264, 5)

In [134]:
#Save the cleaned file in csv :
df2.to_csv('df_final_web_data_pt_2_cleaned.csv', index=False)

In [136]:
#Check if the cleaning is effective
df2.shape

(412264, 5)

In [104]:
import numpy as np
import pandas as pd

file_path3 = r"C:\Users\npdan\IH_LABS/Project2/Datasets/Datasets_raw/df_final_experiment_clients.csv"
df3 = pd.read_csv(file_path3)
df3

      client_id,Variation
0            9988021,Test
1            8320017,Test
2         4033851,Control
3            1982004,Test
4         9294070,Control
...                   ...
70604          2443347,NA
70605          8788427,NA
70606           266828,NA
70607          1266421,NA
70608          9895983,NA

[70609 rows x 1 columns]

In [106]:
df3 = df3.iloc[:, 0].str.split(',', expand=True)
df3.columns = ['client_id', 'Variation']

In [63]:
print(df3.columns)
print(df3.shape)

Index(['client_id', 'Variation'], dtype='object')
(70609, 2)

In [92]:
#Save the cleaned file in csv :
df3.to_csv('df_final_experiment_clients_cleaned.csv', index=False)

In [108]:
#Check if the cleaning is effective
df3.shape

(70609, 2)

In [112]:
file_path4 = r"C:\Users\npdan\IH_LABS/Project2/Datasets/Datasets_raw/df_final_demo.csv"
df4 = pd.read_csv(file_path4)
df4

      client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0             836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0
1           2304905,7.0,94.0,58.0,U,2.0,110860.3,6.0,9.0
2      1439522,5.0,64.0,32.0,U,2.0,52467.78999999999,...
3         1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4        5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...                                                  ...
70604     7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605  8981690,12.0,148.0,31.0,M,2.0,101867.069999999...
70606       333913,16.0,198.0,61.5,F,2.0,40745.0,3.0,3.0
70607    1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608  5602139,21.0,254.0,59.5,F,3.0,157498.729999999...

[70609 rows x 1 columns]

In [114]:
df4 = df4.iloc[:, 0].str.split(',', expand=True)
df4.columns = ['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth']

In [116]:
print(df4.columns)
print(df4.shape)

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')
(70609, 9)

In [118]:
#Save the cleaned file in csv :
df4.to_csv('df_final_demo_cleaned.csv', index=False)

In [120]:
#Check if the cleaning is effective
df4.shape

(70609, 9)